@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

:root {
    /* colors */
    --neutral-0: hsl(0, 0%, 100%);
    --neutral-300: hsl(252, 6%, 83%);
    --neutral-500: hsl(245, 15%, 58%);
    --neutral-700: hsl(245, 19%, 35%);
    --neutral-900: hsl(248, 70%, 10%);

    --orange-500: hsl(7, 88%, 67%);
    --oragen-700: hsl(7, 71%, 60%);

    /* gradient text color*/
    --text-color1: hsl(7, 86%, 67%);
    --text-color2: hsl(0, 0%, 100%);

    /* font-family */
    --inconsolate: "Inconsolata", monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100dvh;
    font-family: var(--inconsolate);
}

.hero-image {
    position: absolute;
    background-image: url("../assets/images/background-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    right: 0;
    left: 0;
}

.pattern-line {
    position: absolute;
    background-image: url("../assets/images/pattern-lines.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    right: 0;
    left: 0;
}

.pattern-squiggly-line-top img {
    position: absolute;
    right: 0;
    top: 39px;
    width: 35%;
    height: auto;
}

.pattern-squiggly-line-bottom img {
    position: absolute;
    bottom: 0;
    width: 60%;
    height: auto;
}

.pattern-circle1 img {
    position: absolute;
    top: -8%;
    left: 3%;
    width: 16%;
}

.pattern-circle2 img {
    position: absolute;
    right: 16%;
    bottom: 33%;
    width: 17%;
}

.container {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    min-height: 100dvh;
    font-family: var(--inconsolate);
    overflow-x: hidden;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading h1 {
    color: var(--neutral-0);
    text-align: center;
    font-size: 3rem;
    line-height: 60px;
    margin-top: 25px;
    width: 14em;
}

.heading p {
    text-align: center;
    color: var(--neutral-300);
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.1rem;
}

.form-container {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin-top: 32px;
    margin-bottom: 3rem;
}

.caption {
    color: var(--neutral-300);
    font-family: var(--inconsolate);
    font-weight: 600;
}

.drop-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--neutral-700);
    border-style: dashed;
    border-radius: 10px;
    width: 27rem;
    height: 11rem;
    backdrop-filter: blur(2px);
    background-color: #ffffff17;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.1s all;
}

.image {
    z-index: 4;
    border: 2px solid var(--neutral-700);
    border-radius: 10px;
    cursor: pointer;
    backdrop-filter: blur(2px);
    background-color: #ffffff00;
    transition: 0.3s all;
    margin-top: 33px;
    margin-bottom: 15px;
    padding: 1px;
}

.image img {
    display: block;
    object-fit: cover;
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 10px;
}

.image:active {
    scale: 0.9;
}

.info {
    color: var(--neutral-300);
    font-weight: 400;
}

.active {
    outline: 2px solid var(--neutral-300);
    outline-offset: 3px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.btn {
    border: none;
    font-family: var(--inconsolate);
    padding: 5px;
    border-radius: 5px;
    color: var(--neutral-300);
    backdrop-filter: blur(2px);
    background-color: #ffffff00;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s all;
}

.btn:active {
    scale: 0.9;
}

.btn:nth-child(1) {
    text-decoration: 2px underline var(--neutral-500);
    text-underline-offset: 3px;
}

#file-error {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-indent: 5px;
    color: var(--neutral-500);
    font-size: 14px;
}

.icon-error {
    filter: invert(16%) sepia(97%) saturate(7491%) hue-rotate(1deg) brightness(102%) contrast(107%);
}

.userInput::placeholder {
    color: var(--neutral-300);
}

.userInput {
    width: 100%;
    height: 3rem;
    outline: 1px solid var(--neutral-500);
    border: none;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    background-color: #ffffff17;
    text-indent: 10px;
    color: var(--neutral-300);
    font-family: var(--inconsolate);
    font-size: 18px;
    cursor: pointer;
}

.userInputCon {
    margin-top: 6%;
}

.userInputCon p {
    color: var(--neutral-300);
    font-family: var(--inconsolate);
    font-weight: 600;
    margin-bottom: 2%;
}

.error {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    color: var(--text-color1);
    font-family: var(--inconsolate);
}

.err-fullname,
.err-email,
.err-github {
    display: none;
}

.submit-btn {
    width: 100%;
    height: 2.9rem;
    margin: 8% 0%;
    border: none;
    border-radius: 10px;
    background-color: var(--oragen-700);
    font-family: var(--inconsolate);
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s all;
}

.submit-btn:active {
    scale: 0.9;
}

/* --- Ticket.html Page Style --- */

.heading-page2 h1 {
    width: 15em;
}

.heading-page2 p {
    width: 25em;
    line-height: 23px;
}

.username-header {
    background: -webkit-linear-gradient(left, var(--text-color1), var(--text-color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.userEmail-header {
    color: var(--text-color1);
}

.ticket {
    position: relative;
    margin-top: 3%;
    padding: 2%;
}

.ticket>img {
    backdrop-filter: blur(40px);
    width: 100%;
    height: 16rem;
}

.page2-circle2 img {
    position: absolute;
    right: 16%;
    bottom: 12%;
    width: 17%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 17%;
    margin-left: 25px;
    width: auto;
}

.title {
    display: flex;
    gap: 10px;
}

.title h2 {
    color: var(--neutral-0);
    font-size: 2rem;
}

.location {
    margin-top: 1%;
    margin-left: 40%;
    width: 13rem;
}

.profile {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 25px;
    top: 60%;
    gap: 10px;
}

.profile-img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 10px;
}

.user-info div {
    display: flex;
    align-items: center;
}

.username {
    color: var(--neutral-0);
    font-weight: 600;
}

.github-username {
    color: var(--neutral-300);
}

.contest-id {
    display: flex;
    width: fit-content;
    color: var(--neutral-500);
    transform: rotate(90deg);
    position: absolute;
    top: 44%;
    right: 6%;
}
@media (max-width: 700px) {

    .pattern-circle1 img {
        position: absolute;
        left: -7%;
        top: -3%;
        width: 27%;
    }

    .pattern-circle2 img {
        position: absolute;
        right: 0%;
        bottom: 30%;
        width: 31%;
    }

    .logo img {
        width: 85%;
        height: auto;
    }

    .heading h1 {
        color: var(--neutral-0);
        font-size: 1.9rem;
        line-height: 38px;
        margin-top: 25px;
        width: 13em;
        text-align: center;
    }

    .heading p {
        text-align: center;
        color: var(--neutral-300);
        margin-top: 20px;
        width: 20rem;
    }

    .drop-box {
        width: 22rem;
        height: 10rem;
    }

    .image img {
        width: 3.5rem;
        height: 3.5rem;
    }


    /* --- Ticket.html Page Style --- */

    .heading-page2 h1 {
        width: 11em;
    }

    .heading-page2 p {
        width: 20em;
    }

    .ticket {
        position: relative;
        margin-top: 18%;
        padding: 2%;
    }

    .ticket>img {
        backdrop-filter: blur(40px);
        width: 100%;
        height: auto;
    }

    .page2-circle2 img {
        position: absolute;
        right: 8%;
        bottom: 27%;
        width: 25%;
    }

    .title h2 {
        color: var(--neutral-0);
        font-size: 1.6rem;
    }

    .profile {
        top: 60%;
        margin-left: 20px;
    }

    .profile-img {
        width: 3rem;
        height: 3rem;
    }

    .info {
        margin-left: 20px;
        top: 13%;
    }

    .location {
        margin-left: 58%;
        margin-top: 0;
    }

    .contest-id{
        right: 4%;
    }

}


